:root{
    --bg: #231644;
    --color1: #f000bc;
    --color2: #dfc800;
}
body{
    margin: 0;
    background-color: var(--bg);
    color: white;
}
.navbar{
    background-color: var(--color1);
    height: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 90vh;
}
.container h1{
    text-decoration: underline;
    color: var(--color1);
    padding: .5rem;
}
.container img{
    width: 6rem;
    animation: spin 10s linear infinite;
    -webkit-user-drag: none;
}
.version{
    color: black;
}
.count{
    width: 8rem;
    background-color: var(--color1);
    border: none;
    color: rgb(0, 0, 0);
    padding: .4rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid white;
    &:hover{
        background-color: var(--color2);
    }
}
.title{
    animation-name: colors;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes colors{
    0%{
        color: #f000bc;
    }
    100%{
        color: #dfc800;
    }
}